<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Blank HTML Template</title>
</head>
<body>


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Infix to Prefix|Postfix converter </span>
    <span class="example-spacer"></span>
    <a href = "https://github.com/04-pasha-04">
      <button mat-icon-button class="example-icon">
        <img src="assets/github-mark-white.svg" width="/0" alt="git">
     </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<app-eval></app-eval>
</body>
</html>
